<h1>Stats</h1>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Metric Name</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <% @metrics.each do |metric| %>
      <tr>
        <td><%= metric[:name] %></td>
        <td><%= link_to 'admin/products', class: "nav-link" do%><%=metric[:value]%><%end%></td>
      </tr>
    <% end %>
  </tbody>
</table>
